body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

.flight-list {
    max-width: 800px;
    margin: 20px ;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex-grow: 1; 
    /* flex gr */
    
}

.flight {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eaeaea;
}

.flight:last-child {
    border-bottom: none;
}

.details {
    display: flex;
    flex-direction: column;
}

.airline {
    font-weight: bold;
    margin-bottom: 5px;
}

.time, .route, .stops, .layover {
    font-size: 0.9em;
    color: #666;
}

.price {
    font-weight: bold;
    font-size: 1.2em;
    color: #007bff;
    align-self: center;
}



.search-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    margin: 20px;
}

.input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
    
}

.search-btn {
    padding: 10px 20px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.confirm-button{
    padding: 10px 20px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;

}


.confirm-ticket{
     display: flex;
     float: right;
}

.confirm-button:hover{
    background-color: #357ab8;
}

.search-btn:hover {
    background-color: #357ab8; }


.search-btn:disabled{
    background-color: #666;
    cursor: not-allowed;
}
    .flight-list2 {
       width: 600px;
        margin: 20px ;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        position: sticky;
        
        right: 10px;
        
    }
    
    .flight2 {
        display: flex;
        justify-content: space-between;
        padding: 15px;
        border-bottom: 1px solid #eaeaea;
    }
    
    .flight2:last-child {
        border-bottom: none;
    }
    
    .details2 {
        display: flex;
        flex-direction: column;
    }
    
    .airline2 {
        font-weight: bold;
        margin-bottom: 5px;
    }
    
    .time2, .route2, .stops2, .layover2 {
        font-size: 0.9em;
        color: #666;
    }
    
    .price2 {
        font-weight: bold;
        font-size: 1.2em;
        color: #007bff;
        align-self: center;
    }

    .btn-choosing{
        height: 65px;
    }
    

    
    

    .text-show{
        font-weight: bold;
        font-size: 1.4rem;
    }

    .texting{
        font-weight: bold;
        font-size: 1.2rem;
    }
    
    .contianer-ticket{
        display: flex;
    }

    .show_text__details{
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
    
    